<h1>Institutions</h1>
<p>All institutions included in the data set along with their factor scores are included on this page. Click on an institution for more information.</p>
<table class="table table-condensed table-striped table-hover">
  <thead>
    <tr>
      <th>Institution</th>
      <th>Location</th>
      <th>Sector</th>
    </tr>
  </thead>
  <tbody>
    <%@institutions.each do |i|%>
    <tr>
      <td><%=link_to i.inst_name, institution_path(i)%></td>
      <td><%=i.city%>, <%=i.state%></td>
      <td><%=Institution.characteristic_lookup(:sector, i.sector)%></td>
    </tr>
    <%end%>
  </tbody>
</table>

<script type="text/javascript">
  $('.inlinesparkline').sparkline('html', {type: 'bar', height: '20px', width: '100px', disableHiddenCheck: true, zeroColor: '#ccc', barColor: '#3366cc', 
    negBarColor: '#f04040', chartRangeMin: '-5', chartRangeMax: '5', barSpacing: '1',
    barWidth: '10'});
</script>