<%highlight_tab "about"%>
<h1>About the Tool</h1>
<h2>Overview</h2>
<p dir="ltr">
    Universities are unique and complex institutions. Assessing the performance, standing, and progress of such institutions is therefore a challenging
    endeavor. However, sound strategic decision-making and planning requires placing an institution in context to assess its relative strengths and direction.
    Comparison groups are an important tool for providing that context. While each institution in a comparison group is a product of its own individual
    circumstances and environment, a well-chosen group provides benchmarks that can inform policy and resource choices.
</p>
<p dir="ltr">
    To provide clear and consistent benchmarks that can be readily communicated to a wide range of audiences, the University of Minnesota strives to use a
    single primary comparison group wherever feasible, recognizing that some questions may still be best answered using alternative collections of
    institutions. The value of a comparison group is inextricably linked to the degree of acceptance of the institutions selected to both internal and external
    audiences. To enhance the transparency and credibility of the choice of institutions, the University of Minnesota has embarked on an effort to create a
    systemwide, data-informed process to identify and evaluate institutional comparison groups.
</p>
<h3>
    Process
</h3>
<p dir="ltr">
    From the initial decision to review or create a comparison group through to the decision to retain or update the group, the Office of Planning and Analysis
    engages with campus leadership to support a participatory process grounded in evidence and institutional priorities. While the methodological approach to
    comparing institutions is stable, the application of the model and the choices of comparators from the universe of institutions is driven by campus
    leadership, reflecting the academic mission and goals of the institution.
</p>
<p dir="ltr">
    The stages of the process can be broken down as follows:
</p>
<ol>
<li>Determine Need - Determine need for a comparison group review (campus, leadership, or review timeline)
</li>
<li>
Coordination - OPA coordinates modeling activity with OIR and campus identifies representatives to work with OPA and OIR
</li>
<li>Preparation - OIR prepares model for campus consideration, and campus identifies key characteristics considered critical
</li>
<li>Introduction - OPA introduces and discusses the model with campus leadership, honing in on comparison priorities, and OIR provides an assessment of the
    current comparison group
</li>
<li>Model Adjustment - OIR adjusts the model based on campus needs (e.g. institutional groupings, critical dimensions of quality)
</li>
<li>Training - OPA provides training and support for using the model to campus leadership
</li>
<li>Consultation - Campus leaders considers a campus supported single comparison group
</li>
<li>Recommendation - Campus leadership present a single comparison group to Academic Administration, University of Minnesota System
</li>
<li>Approval - Academic Administration reviews the comparison group and recommends adjustments, support, or other actions
</li>
</ol>