<%highlight_tab "api"%>
<h1>Comparison Group Generator API</h1>
<hr />
<h2>Overview</h2>
<p>To increase the usage of our comparison data set, we have created an API to the data we use for generating our comparison groups. The hope is to enable other developers and institutional research departments creative control over the output and visualization of our data.</p>
<h2>API v1 Usage Details</h2>
<p>Copy</p>