<%highlight_tab "contact"%>
<h1>Contact</h1>
<p>
For questions about the data sources and methodology contact:
</p>
<p><%=link_to "Daniel Jones-White, Senior Analyst", "mailto: djwhite@umn.edu"%></p>
<p>For technical, design and interface questions, contact:
<p><%=link_to "oir-web@umn.edu", "mailto: oir-web@umn.edu"%></p>