<%highlight_tab "faq"%>
<h1>Frequently Asked Questions</h1>
<hr />
<h5>Q. Which institutions are included in the data set?</h5>
<p>
  Here is a <%=link_to "list", institutions_path%> of all the institutions which are used to create the peer groups.
</p>
</p>
<hr />
<h5>Q. How can I share the peer group I've created?</h5>
<p>
  Once you have successfully created a peer group, click the "Permalink Comparison" button and you will be re-directed to a page which you can share with others.
</p>
<hr />
<h5>Q. I have Permalinked my peer group but I cannot find the link, what should I do?</h5>
<p>
  You can <%=link_to "browse", comparisons_path%> and search all of the peer groups which have been created in the past or you can simply <%=link_to "re-create", root_path%> the peer group!
</p>
<hr />