<%highlight_tab "methodology"%>
<h1>Data &amp; Methodology</h1>
<hr />
<h3>
    Data used in model
</h3>
<p dir="ltr">
    Variables drawn from the U.S. Department of Education National Center for Education Statistics, Integrated Postsecondary Education Data System (IPEDS)
</p>
<ul>
    <li dir="ltr">
        Bachelor's degree
    </li>
    <li dir="ltr">
        Master's degree
    </li>
    <li dir="ltr">
        Doctor's degree - research/scholarship
    </li>
    <li dir="ltr">
        Doctor's degree - professional practice
    </li>
    <li dir="ltr">
        Percent of total enrollment that are White
    </li>
    <li dir="ltr">
        Percent of total enrollment that are women
    </li>
    <li dir="ltr">
        Full-time, first-time, degree/certificate seeking undergraduates (GRS Cohort) as percent of all undergraduates
    </li>
    <li dir="ltr">
        Instruction expenses per FTE
    </li>
    <li dir="ltr">
        Research expenses per FTE
    </li>
    <li dir="ltr">
        Public service expenses per FTE
    </li>
    <li dir="ltr">
        Academic support expenses per FTE
    </li>
    <li dir="ltr">
        Student service expenses per FTE
    </li>
    <li dir="ltr">
        Institutional support expenses per FTE
    </li>
    <li dir="ltr">
        Graduation rate - Bachelor degree within 4 years, total
    </li>
    <li dir="ltr">
        Graduation rate - Bachelor degree within 6 years, total
    </li>
    <li dir="ltr">
        Instruction/research and public service FTE staff
    </li>
    <li dir="ltr">
        Executive/administrative and managerial FTE staff
    </li>
    <li dir="ltr">
        Other professional FTE staff
    </li>
    <li dir="ltr">
        Non-professional FTE staff
    </li>
    <li dir="ltr">
        Average salary equated to 9-month contracts of full-time instructional staff - professors
    </li>
    <li dir="ltr">
        Average salary equated to 9-month contracts of full-time instructional staff - associate professors
    </li>
    <li dir="ltr">
        Average salary equated to 9-month contracts of full-time instructional staff - assistant professors
    </li>
    <li dir="ltr">
        Tuition and fees, 2010-11
    </li>
    <li dir="ltr">
        Percent admitted - total
    </li>
    <li dir="ltr">
        Student-to-faculty ratio
    </li>
    <li dir="ltr">
        Full-time retention rate, 2010
    </li>
    <li dir="ltr">
        Current year GRS cohort as a percent of entering class
    </li>
    <li dir="ltr">
        Percent of full-time first-time undergraduates receiving federal grant aid
    </li>
    <li dir="ltr">
        Percent of full-time first-time undergraduates receiving institutional grant aid
    </li>
    <li dir="ltr">
        Percent of Undergraduate Degrees in STEM
    </li>
    <li dir="ltr">
        Percent of Undergraduate Degrees in Liberal Arts
    </li>
    <li dir="ltr">
        Part-time to Full-time Ratio
    </li>
    <li dir="ltr">
        Transfer to Continuing Ratio
    </li>
</ul>
<h3>
    Statistical methodology
</h3>
<p dir="ltr">
    The variables above were assembled from IPEDS for the 2010-2011 academic year. The analysis included all 1,472 four-year degree granting institutions in
    the United States reporting in IPEDS. Data was not available for every institution. After missing cases were removed, 1,279 institutions remained in the
    analysis.
</p>
<p dir="ltr">
    Institutions can be thought of as existing in a multidimensional space, where each dimension corresponds to a characteristic of the institution. The
    distance between two institutions in this space therefore represents the relative similarity between those institutions on the various dimensions. Some of
    these dimensions are closely related to each other, so it is possible to reduce the number of dimensions to a smaller set that is easier to interpret and
    apply without sacrificing important patterns in the data. This is accomplished by use of a technique called factor analysis. To look at comparison groups,
    principal axis factor analysis with an oblique rotation was used to reduce the data into a manageable number of dimensions for comparison. Utilizing the
    Kaiser criterion (eigenvalue &gt; 1.0) we identified a seven factor solution and calculated factor scores for each of seven dimensions (the seven factors
    emphasized an institution’s size, cost, financial need, faculty salary, STEM emphasis, and composition of undergraduate enrollment, and expenditures).
    Difference scores were then calculated for each of the eight factors which were subsequently squared and then summed to produce an overall difference score
    for each institution. These scores were then sorted from smallest to largest to identify an institution’s “nearest neighbors.”
</p>