<%highlight_tab "usage"%>
<h1>
    Usage Considerations
</h1>
<p dir="ltr">
    The Office of Planning and Analysis recommends the following principles for selecting comparison group institutions:
</p>
<p>
    Principles for selecting comparison groups:

</p>
    <li dir="ltr">
        Sufficient number of institutions to make reliable comparisons
    </li>
    <li dir="ltr">
        Sufficient similarity in institutions that comparisons are relevant
    </li>
    <li dir="ltr">
        Sufficient information is available on the institutions to permit comparisons
    </li>
    <li dir="ltr">
        Sufficient knowledge about the institutions exists or can be created to achieve credibility with key audiences
    </li>
</ul>
<br />
<p dir="ltr">
    Applying the above principles to the process of selecting comparison group institutions leads to the following operational recommendations:
</p>
<ul>
    <li dir="ltr">
        Groups should have at least ten but generally no more than twenty institutions
    </li>
    <li dir="ltr">
        Institutions should be identified as either “peer” or “aspirational”
    </li>
    <li dir="ltr">
        Institutions that are regarded as competitors are often less similar overall but share a particular characteristic relevant to the nature of the
        competition (e.g. geography in relation to student recruitment) and therefore such comparisons are more sensible as internal monitoring than the
        external reporting typically done with comparison groups
    </li>
    <li dir="ltr">
        Primary focus should be national, as each of our campuses aspires to a national and/or international reputation and standing (local/regional
        institutions that are less similar may still be desirable to the degree they are more familiar to key audiences)
    </li>
    <li dir="ltr">
        Selection process should be data-informed, but incorporate campus judgment and knowledge about institutions
    </li>
    <li dir="ltr">
        May include both public and private institutions, if relevant
    </li>
</ul>