<ul class="nav nav-pills nav-stacked">
  <li class="active"><a href="/">Create a peer group</a></li>
  <li><a href="/methodology">Methodology</a></li>
  <li><a href="/about">About Us</a></li>
  <li><a href="/faq">FAQ</a></li>
  <li><a href="/contact">Contact</a></li>
  <li class="nav-header">Created by the University of Minnesota Office of Institutional Research</li>
</ul>
