.nav.highlight_create .create a,
.nav.highlight_review .review a,
.nav.highlight_methodology .methodology a,
.nav.highlight_about .about a,
.nav.highlight_faq .faq a,
.nav.highlight_usage .usage a,
.nav.highlight_api .api a,
.nav.highlight_contact .contact a{
  color: white;
  background-color: #08C;
}

#slide-off{
  width: 9%;
  float: left;
}

#slide-1, #slide-2, #slide-3, #slide-4, #slide-5 {
  width: 18%;
  float: left;
  text-align: right;
}
